@model List<InsuranceWebApplication.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<table class="table table-striped">
    <tr>
        <td> Name </td>
        <td>PhoneNumber</td>
        <td>Action</td>
        <td>Delete</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(m => item.UserName) </td>

            <td> @Html.DisplayFor(m => item.PhoneNumber) </td>


            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { id = @"Id", @class = "btn btn-primary"})</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { id = @"Id", @class = "btn btn-primary" })</td>


        </tr>
    }
</table>
