﻿@model List<InsuranceWebApplication.Models.InsuranceClaim>
@{
    ViewBag.Title = "Claims";
}

<h2>View</h2>

<table>
    <tr>
        <td> Id</td>
        <td> UserId </td>
        <td>Description</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(m => item.Id) </td>

            <td> @Html.DisplayFor(m => item.UserId) </td>

            <td> @Html.DisplayFor(m => item.Description) </td>

        </tr>
    }
</table>