@model List<InsuranceWebApplication.Models.ApplicationUser>
    @{
        ViewBag.Title = "Index";
    }

    <h2>View</h2>

    <table>
        <tr>
            <td> Id</td>
            <td> Name </td>
            <td>PhoneNumber</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               <td> @Html.DisplayFor(m => item.Id) </td>

                <td> @Html.DisplayFor(m => item.UserName) </td>

                <td> @Html.DisplayFor(m => item.PhoneNumber) </td>


                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { id = @"Id" })</td>
            </tr>
        }
    </table>
